* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    flex-basis: 10vh;
    text-align: center;
    line-height: 10vh;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

section {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    display: flex;
}